@model ForgottenPasswordViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>@Lang.ResetYourPassword</h2>
<p>@Lang.ResetYourPasswordMessage</p>
<p>@Html.ValidationSummary()</p>
<div>
    @{ Html.BeginForm(); }
    <table>
        <tr>
            <td><label for="UserName">@Lang.ResetPasswordUsername</label></td>
            <td>@Html.TextBoxFor(x => x.UserName)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="@Lang.SendNewPassword" /></td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>


