@model Suteki.TardisBank.ViewModel.ChangePasswordViewModel

@using Suteki.TardisBank.Web;

@{
    View.Title = Lang.ChangePassword;
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>@Lang.ChangePassword</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(excludePropertyErrors: true, message: @Lang.PasswordChangeUnsuccessful)
    <div>
        <fieldset>
            <legend>@Lang.AccountInformation</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword, @Lang.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword, @Lang.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPasswordRepeat, @Lang.NewPasswordRepeat)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPasswordRepeat)
                @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
            </div>

            <p>
                <input type="submit" value="@Lang.ChangePassword" />
            </p>
        </fieldset>
    </div>
}
