@model DeleteChildConfirmViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    String confirmDeleteChildTitle = String.Format(Lang.FormatDeleteChildQuestion, @Model.ChildName);
    String DeleteChild = String.Format(Lang.FormatDeleteChildConfirmation, @Model.ChildName);
}

<h2>@confirmDeleteChildTitle</h2>
<div>
    @{ Html.BeginForm(); }
    @Html.HiddenFor(x => x.ChildId)
    @Html.HiddenFor(x => x.ChildName)
    <table>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="@" /></td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>

