@model AddScheduleViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>@lang.AddSchedule</h2>
<p>@Lang.AddScheduleDescription</p>
<p>@Html.ValidationSummary()</p>
<div>
    @{ Html.BeginForm(); }
    
    @Html.HiddenFor(x => x.ChildId)

    <table>
        <tr>
            <td><label for="Description">@Lang.PaymentDescription</label></td>
            <td>@Html.TextBoxFor(x => x.Description)</td>
        </tr>
        <tr>
            <td><label for="Amount">@Lang.RegularAmountToPay @Current.CurrencySymbol</label></td>
            <td>@Html.TextBoxFor(x => x.Amount)</td>
        </tr>
        <tr>
            <td><label for="Interval">@Lang.IntervalDescription</label></td>
            <td>
                <select id="Interval" name="@Lang.Interval">
                    <option value="1">@Lang.Daily</option>
                    <option value="2" selected="selected">@Lang.Weekly</option>
                    <option value="3">@Lang.Monthly</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="StartDate">@Lang.StartDateDescription</label></td>
            <td>@Html.TextBox("StartDate", Model.StartDate.ToShortDateString())</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="@Lang.SetupSchedule" /></td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>

<script type="text/javascript" language="javascript">
    $("#StartDate").datepicker({ dateFormat: '@DateFormatter.CurrentJQuery' });
</script>


