@model AddScheduleViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
	String scheduledPaymentSummary = String.Format(, Model.Amount.ToString("c"), Model.StartDate.ToLongDateString(), Model.Interval);
}

<h2>@Lang.ScheduleCreated</h2>
<p>@Lang.ScheduleCreatedMessage</p>
<p>@scheduledPaymentSummary</p>
<p>@Html.ActionLink(@Lang.ReturnToChildAccount, "ParentView", "Account", new { id = Model.ChildId }, null)</p>

