@model WithdrawCashForChildViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>@Lang.WithdrawCashForYourChildTitle</h2>
<p>@Lang.WithdrawCashForYourChildDescription</p>
<p>@Html.ValidationSummary()</p>
<div>
    @{ Html.BeginForm(); }
    @Html.HiddenFor(x => x.ChildId)
    @Html.HiddenFor(x => x.ChildName)
    <table>
        <tr>
            <td><label for="Description">@Lang.Description</label></td>
            <td>@Html.TextBoxFor(x => x.Description)</td>
        </tr>
        <tr>
            <td><label for="Amount">@Lang.Amount @Current.CurrencySymbol</label></td>
            <td>@Html.TextBoxFor(x => x.Amount)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="@Lang.WithdrawCashForYourChild" /></td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>