@model WithdrawCashViewModel

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
	var WithdrawlConfirmedMessage = String.Format(@Suteki.TardisBank.Web.Lang.FormatWithdrawlConfirmedMessage, @Model.Amount.ToString("c"));
}

<h2>@Suteki.TardisBank.Web.Lang.WithdrawlConfirmed</h2>
<p>@WithdrawlConfirmedMessage</p>
<p>@Html.ActionLink(Suteki.TardisBank.Web.Lang.BackToYourAccount, "ChildView", "Account")</p>