@model Child

@using Suteki.TardisBank.Web;

<ul id="menu">
    <li>@Html.ActionLink(@Lang.Home, "Index", "Home")</li>
    <li>@Html.ActionLink(@Lang.MyAccount, "ChildView", "Account")</li>
    <li>@Html.ActionLink(@Lang.About, "About", "Home")</li>
</ul>

