@using Suteki.TardisBank.Web;

<ul id="menu">
    <li>@Html.ActionLink(@Lang.Home, "Index", "Home")</li>
    <li>@Html.ActionLink(@Lang.SignUp, "Register", "User")</li>
    <li>@Html.ActionLink(@Lang.About, "About", "Home")</li>
</ul>
