@model RegistrationViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>@Lang.AddChildAccount</h2>
<p>@Lang.AddChildAccountDescription</p>
<p>@Html.ValidationSummary()</p>
<div>
    @{ Html.BeginForm(); }
    <table>
        <tr>
            <td><label for="Email">@Lang.ChildUsername</label></td>
            <td>@Html.TextBoxFor(x => x.Email)</td>
            <td>@Lang.ChildUsernameMessage</td>
        </tr>
        <tr>
            <td><label for="Name">@Lang.ChildFirstName</label></td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
            <td>@Lang.ChildFirstNameMessage</td>
        </tr>
        <tr>
            <td><label for="Password">@Lang.ChildPassword</label></td>
            <td>@Html.PasswordFor(x => x.Password)</td>
            <td>@Lang.ChildPasswordMessage</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="@Lang.CreateYourChildAccount" /></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>



