@model UserViewModel

@using Suteki.TardisBank.Web;

<span>@Model.UserName&nbsp;</span> 
@if (Model.IsLoggedIn)
{
    @Html.ActionLink(@Lang.Logout, "Logout")
}
else
{
    @Html.ActionLink(@Lang.Login, "Login")
}
