@model UserViewModel

@using Suteki.TardisBank.Web;
@using Suteki.TardisBank.Web.Helpers;

<span>@Model.UserName&nbsp;</span> 
@if (Model.IsLoggedIn)
{
    @Html.ActionLink(Lang.Logout, "Logout")
}
else
{
    @Html.ActionLink(Lang.Login, "Login")
}
&nbsp;
@Html.LanguageSelectorLink("en-US", "[English]", "English", null)
@Html.LanguageSelectorLink("fr-FR", "[Français]", "Français", null)