@model LoginViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>@Lang.Login</h2>
<p>@Html.ValidationSummary()</p>
<div class="grid_8">
    @{ Html.BeginForm(); }
    <table>
        <tr>
            <td><label for="Name">@Lang.YourUsername</label></td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
        </tr>
        <tr>
            <td><label for="Password">@Lang.YourPassword</label></td>
            <td>@Html.PasswordFor(x => x.Password)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="@Lang.Login" /></td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>
<div class="grid_3">
    <p>@Lang.ForgottenYourPassword</p>
    @Html.ActionLink(Lang.IveForgottenMyPassword, "Forgot", "Password")
</div>

