@model User

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    String maxMessages = String.Format(Lang.FormatOnlyKeepLastMessages, Suteki.TardisBank.Model.User.MaxMessages);
}

<h2>@Lang.YourMessages</h2>
@if (Model.Messages.Count == 0)
{
<p>@Lang.YouHaveNoMessages</p>
}
else
{
<table>

@foreach (var message in Model.Messages.Reverse())
{
    <tr class="@(message.HasBeenRead ? "read" : "unread")">
        <td>@message.Date.ToShortDateString()</td>
        <td>@message.Text</td>
        @if (message.HasBeenRead)
        {
        <td><strong>@Lang.Done</strong></td>
        }
        else
        {
        <td>@Html.ActionLink(Lang.OK, "ReadMessage", new { id = @message.Id })</td>
        }
    </tr>
}

</table>
<p>(@maxMessages)</p>
}

