@model RegistrationViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>@Lang.ParentsSignUp</h2>
<p>@Lang.ParentsSignUpDescription1</p>
<p>@Lang.ParentsSignUpDescription2</p>
<p><strong>@Lang.Kids,</strong> @Lang.ParentsSignUpDescription3</p>
<p>@Html.ValidationSummary()</p>
<div>
    @{ Html.BeginForm(); }
    <table>
        <tr>
            <td><label for="Email">@Lang.YourEmail</label></td>
            <td>@Html.TextBoxFor(x => x.Email)</td>
            <td>@Lang.YourEmailMessage</td>
        </tr>
        <tr>
            <td><label for="Name">@Lang.YourName</label></td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
            <td>@Lang.YourNameMessage</td>
        </tr>
        <tr>
            <td><label for="Password">@Lang.YourPassword</label></td>
            <td>@Html.PasswordFor(x => x.Password)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="@Lang.SignMeUp" /></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>


