@using Suteki.TardisBank.Web;

@{    
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="grid_4 rightline">
    <h2>@Lang.Kids</h2>
    <p>@Lang.IndexKidsDescription1</p>
    <p>@Lang.IndexKidsDescription2</p>
    <p>@Lang.IndexKidsDescription3</p>
    <p>@Lang.IndexKidsDescription4</p>
</div>
<div class="grid_4 rightline">
    <h2>@Lang.Parents</h2>
    <p>@Lang.IndexParentsDescription1</p>
    <p>@Lang.IndexParentsDescription2</p>
    <p>@Lang.IndexParentsDescription3</p>
    <p>@Lang.IndexParentsDescription4</p>
    <p><a href="User/Register">@Lang.ParentsSignUp</a></p>
</div>
<div class="grid_3">
    <h2>@Lang.AlreadySignedUp</h2>
    <p><a href="User/Login">@Lang.LoginHere</a></p>
    <fb:like width="110" height="80"></fb:like>
</div>
<div class="clear"></div>


